@import "tailwindcss";

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  font-family: var(--sans);
  background-color: #202126;
}

/* Base resets */
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
